<!DOCTYPE html>
<html>
<title>Visualization</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="w3-container" style="padding:128px 16px" id="team">
  <h3 class="w3-center">VISUALIZATIONS</h3>
  <p class="w3-center w3-large">Please choose one of the followings to view</p>
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team2.jpg" alt="WordCloud" style="width:100%">
        <div class="w3-container">
          <h3>WorldCloud</h3>
          <p class="w3-opacity">key words</p>
          <p>Visualize the key words of tweets with the size of the words representing the frequency</p>
          <p><a href = "{{url_for('WordCloud')}}" <button class="w3-button w3-light-grey w3-block">View</button></a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team1.jpg" alt="UsMap" style="width:100%">
        <div class="w3-container">
          <h3>UsMap</h3>
          <p class="w3-opacity">Polarity/p>
          <p>Showcases the polarity state wise</p>
          <p><a href ="{{url_for('UsMap')}}"><button class="w3-button w3-light-grey w3-block">View</button></a></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team3.jpg" alt="ForceDirected" style="width:100%">
        <div class="w3-container">
          <h3>ForceDirected</h3>
          <p class="w3-opacity">Words Connection</p>
          <p>Shows the connection between the words tweeted in a tweet</p>
          <p><a href = "{{url_for('forced')}}"><button class="w3-button w3-light-grey w3-block">View</button></a></p>
        </div>
      </div>
    </div>
    
      </div>
    </div>
  </div>
</div>
</body>