{% extends "base.html" %} {%block content %}
        <style>
	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	#tooltip {
		position: absolute;
		text-align: center;
		padding: 20px;
		margin: 10px;
		font: 12px sans-serif;
		background: lightsteelblue;
		border: 1px;
		border-radius: 2px;
		pointer-events: none;
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}
</style>
<div id="tooltip"></div><!-- div to hold tooltip. -->
<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
<script type = text/javascript src="{{url_for('static' , filename = 'uStates.js')}}"></script> <!-- creates uStates. -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
	function tooltipHtml(n, d){	/* function to create html content string in tooltip div. */
		return "<h4>"+n+"</h4><table>"+
			"<tr><td>Positive</td><td>"+(d.positive)+"</td></tr>"+
			"<tr><td>Neutral</td><td>"+(d.neutral)+"</td></tr>"+
			"<tr><td>Negative</td><td>"+(d.negative)+"</td></tr>"+
			"</table>";
	}
	var sampleData = {
    'AL': {'positive': 5, 'color': '#00871f'},
   'AZ': {'neutral': 4, 'positive': 5, 'color': '#00871f'},
   'CA': {'negative': 10, 'neutral': 83, 'positive': 109, 'color': '#00871f'},
   'CO': {'negative': 2, 'neutral': 3, 'positive': 13, 'color': '#00871f'},
   'CT': {'neutral': 3, 'color': '#767776'},
   'DE': {'negative': 1, 'positive': 1, 'color': '#767776'},
   'FL': {'negative': 3, 'neutral': 34, 'positive': 35, 'color': '#00871f'},
   'GA': {'negative': 3, 'neutral': 23, 'positive': 8, 'color': '#767776'},
   'HI': {'positive': 1, 'color': '#00871f'},
   'IA': {'negative': 1, 'neutral': 2, 'positive': 3, 'color': '#00871f'},
   'ID': {'positive': 1, 'color': '#00871f'},
   'IL': {'negative': 8, 'neutral': 21, 'positive': 30, 'color': '#00871f'},
   'IN': {'negative': 1, 'neutral': 4, 'positive': 3, 'color': '#767776'},
   'KS': {'neutral': 4, 'positive': 1, 'color': '#767776'},
   'LA': {'negative': 1, 'neutral': 3, 'color': '#767776'},
   'MA': {'negative': 4, 'neutral': 20, 'positive': 32, 'color': '#00871f'},
   'MD': {'negative': 1, 'neutral': 7, 'positive': 9, 'color': '#00871f'},
   'MI': {'negative': 2, 'neutral': 7, 'positive': 8, 'color': '#00871f'},
   'MN': {'negative': 4, 'neutral': 32, 'positive': 81, 'color': '#00871f'},
   'MO': {'neutral': 1, 'positive': 1, 'color': '#00871f'},
   'MS': {'neutral': 1, 'positive': 2, 'color': '#00871f'},
   'NC': {'negative': 1, 'neutral': 2, 'positive': 10, 'color': '#00871f'},
   'NE': {'neutral': 2, 'positive': 2, 'color': '#00871f'},
   'NH': {'negative': 1, 'neutral': 11, 'positive': 22, 'color': '#00871f'},
   'NJ': {'negative': 1, 'neutral': 1, 'positive': 6, 'color': '#00871f'},
   'NM': {'neutral': 4, 'positive': 1, 'color': '#767776'},
   'NV': {'neutral': 1, 'positive': 1, 'color': '#00871f'},
   'NY': {'negative': 12, 'neutral': 32, 'positive': 54, 'color': '#00871f'},
   'OH': {'neutral': 7, 'positive': 7, 'color': '#00871f'},
   'OK': {'positive': 1, 'color': '#00871f'},
   'OR': {'negative': 1, 'neutral': 9, 'positive': 14, 'color': '#00871f'},
   'PA': {'negative': 3, 'neutral': 23, 'positive': 24, 'color': '#00871f'},
   'RI': {'negative': 1, 'neutral': 2, 'positive': 8, 'color': '#00871f'},
   'SC': {'neutral': 1, 'positive': 3, 'color': '#00871f'},
   'SD': {'negative': 1, 'color': '#767776'},
   'TN': {'neutral': 1, 'positive': 5, 'color': '#00871f'},
   'TX': {'negative': 1, 'neutral': 37, 'positive': 18, 'color': '#00871f'},
   'WA': {'negative': 17, 'neutral': 57, 'positive': 71, 'color': '#00871f'},
   'WI': {'negative': 1, 'positive': 1, 'color': '#767776'},
		'AK': {'color': '#fcfcff'},
		'ME': {'color': '#fcfcff'},
		'VT': {'color': '#fcfcff'},
		'WV': {'color': '#fcfcff'},
		'KY': {'color': '#fcfcff'},
		'WY': {'color': '#fcfcff'},
		'MT': {'color': '#fcfcff'},
		'DC': {'color': '#fcfcff'},
		'UT': {'color': '#fcfcff'},
		'ND': {'color': '#fcfcff'},
		'AR': {'color': '#fcfcff'},
		'LS': {'color': '#fcfcff'},
		'VA': {'color': '#fcfcff'},
 };
	/* draw states on id #statesvg */
	uStates.draw("#statesvg", sampleData, tooltipHtml);
	d3.select(self.frameElement).style("height", "600px");
</script>
{% endblock %}