{% extends 'bootstrap/base.html' %}
{% block content %}
    <div class="container">
      <div class="jumbotron text-center">
        <h2>Twitter Data Visualization Application</h2>
      </div>
    </div>
    <div class="container">
      <form id="queryForm" action="{{url_for('query')}}" method="post">
        <textarea name="userInput" rows="1" cols="1" class="form-control"></textarea>
        <br>
        <input type="submit" name="" value="Submit" class="btn btn-primary">
      </form>
    </div>


{% endblock %}
